@model List<Application.DynamicForm.Dto.FormAttributeEditDto>
@{
    ViewData["Title"] = "EditOrder";
}

<form method="post">
    <div class="header m-2 clearfix">
        <a href="/home/order">back to order list</a>
        <div class="float-right">
            <button class="btn btn-info" type="submit" id="save">Save</button>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <input type="hidden" name="orderId" value="@ViewBag.OrderId" />
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="hidden" asp-for="@Model[i].Name" />
                <input type="hidden" asp-for="@Model[i].Id" />
                @switch (Model[i].ControlType)
                {
                    case Core.DynamicForm.FormAttributeControlType.TextBox:
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">@Model[i].Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="@Model[i].Value" />
                            </div>
                        </div>
                        break;
                    case Core.DynamicForm.FormAttributeControlType.DropDownList:
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">@Model[i].Name</label>
                            <div class="col-sm-10">
                                <select class="form-control" asp-for="@Model[i].Value">
                                    @foreach (var attrValue in Model[i].FormAttributeValueEditDtos)
                                    {
                                        <option value="@attrValue.Id">@attrValue.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        break;
                    case Core.DynamicForm.FormAttributeControlType.RadioButtonList:
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">@Model[i].Name</label>
                            <div class="col-sm-10 d-flex align-items-center">
                                    @foreach (var attrValue in Model[i].FormAttributeValueEditDtos)
                                    {
                                        <input type="radio" asp-for="@Model[i].Value" value="@attrValue.Id" /><span class="mr-4">@attrValue.Name</span>
                                    }
                            </div>
                        </div>
                        break;

                }

            }
        </div>
    </div>
</form>
<script>
    window.onload = function () {
        //禁止切换租户
        disableToggleTenant()
    }
</script>
